*{
	box-sizing: border-box;
}
body{
	margin: 0 auto;
	width: 990px;
}

.col-middle{
	margin: 0 auto;
	text-align: center;
}

.col-2{
	float: left;
	width: 50%;
}

.col-2-left{
	text-align: right;
	padding-right: 20px;
	border-right: 1px solid grey;
}
.col-2-right{
	padding-left: 20px;
}

label{
	display: block;
	font-size: 12px;
}

#canvas {
	display: block;
	margin : 20px auto;
	border : 1px solid black;
}

#launch {
	display : inline;
}

#stopbuttons {
	display : block;
	margin : 5px 0px 0px 20px;
}

#stop {
	width: 51px;
}

#reset {
	margin-left : 2px;
}

img {
	width:300px;
	height:300px;
	border:1px solid black;
	margin-left: 500px;
}